.footer {
  padding-bottom: 45px;
  @media (max-width: 1300px) {
    padding-bottom: 30px;
  }
  @include r($desktop) {
    padding-bottom: 20px;
  }

  &__inner {
    @include flex-between-center-gap(30);
    @media (max-width: 1160px) {
      flex-wrap: wrap;
    }
    @include r($phone) {
      flex-direction: column;
      gap: 40px;
    }
  }

  &__left, &__right {
    max-width: 215px;
    width: 100%;
    @include r($tablet) {
      max-width: max-content;
    }
  }

  &__left {
    @include flex-align-center(16);
  }

  &__nav {
    @media (max-width: 1160px) {
      width: 100%;
      order: 1;
    }
  }

  &__logo {
    border: 1px solid transparent;
    border-radius: 4px;
    transition: opacity .4s, border .4s;

    &:hover {
      opacity: .7;
    }

    &:focus {
      border-color: $white;
    }
  }

  &__line {
    align-self: stretch;
    width: 1px;
    background-color: rgba($white, .2);
  }

  &__socials {
    @include flex-align-center(12);
  }

  &__social {
    @include flex-center;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 1px;
    transition: border .4s;

    &:hover {
      svg {
        opacity: 1;
      }
    }

    &:focus {
      border-color: $accent;

      svg {
        opacity: 1;

        path {
          fill: $white;
        }
      }
    }

    svg {
      opacity: .6;
    }
  }

  &__list {
    @include flex-align-center(24);
    @include r($tablet) {
      flex-wrap: wrap;
      gap: 18px 24px;
    }
    @include r($phone) {
      justify-content: center;
      margin-top: -5px;
    }
  }

  &__link {
    @include flex-align-center(7);
    color: rgba($white, .6);
    border: 1px solid transparent;
    padding: 1px 2px;
    font-weight: 500;
    border-radius: 5px;
    transition: color .4s, border .4s;

    &:hover {
      color: $white;

      svg path {
        fill-opacity: 1;
      }
    }

    &:focus {
      border-color: $accent;
      color: $white;

      svg path {
        fill: $white;
        fill-opacity: 1;
      }
    }

    &.active {
      color: $white;
      pointer-events: none;

      svg path {
        fill-opacity: 1;
      }
    }
  }

  &__top {
    @include flex-align-center(8);
    color: $white;
    margin-left: auto;
    font-family: $aeonik;
    font-weight: 500;
    max-width: max-content;
    transition: color .4s;
    @include r($tablet) {
      font-size: 15px;
    }

    &:hover {
      color: rgba($white, .7);

      svg {
        transform: translateY(-4px);
        opacity: .7;
      }
    }

    &:focus {
      color: $accent;
    }
  }
}